@import "./variables.scss";

@mixin element-border($width: 2px) {
  // border-color: black;
  // border-width: $width;
  // border-style: solid;
  border-radius: 6px;
}

@mixin white-input() {
  display: inline-block;
  margin: 0.2em 0.4em;
  padding: 0 0.5em;

  width: 10em;
  background-color: $neutral-color-300;
  text-align: center;
}

@mixin main-tile {
  // box-shadow: 0px 0px 5px inset black;
  padding: 1em;
  & > span {
    margin-inline: 0.5em;
  }
}
