@import "./styles/variables.scss";
@import "./styles/reset.css";
@import "./styles/mixins.scss";
body {
  background-color: $main-color;
  color: $text-color;
}

.App {
  display: flex;
  flex-flow: row wrap;
}

.actions-list {
  margin: 1rem;
  padding: 1rem;
}

.save-button {
  @include element-border;

  display: fixed;
  position: absolute;
  bottom: 1rem;
  right: 1rem;

  font-size: 3rem;
}

.regular-button {
  @include element-border;
}

.money-action {
  @include element-border;
  margin-bottom: 1rem;
  color: black;
}

.passive {
  background-color: $passive-color;
  outline-color: $passive-color;
}

.active {
  background-color: $active-color;
  outline-color: $active-color;
}

.dropdown-base {
  @include element-border;
  width: 6em;
  background-color: $main-color;
  color: white;

  .dropdown-menu {
    @include element-border;

    position: absolute;
    list-style-type: none;
    width: 6em;
    li {
      display: block;
      width: 6em;
      background-color: $main-color;
    }
    li:hover {
      background-color: $interactive-color;
    }
  }
}

.dropdown-base:focus {
  @include element-border;
}

.checkbox {
  display: block;
  width: 1rem;
  height: 1rem;
  margin: 0.5rem;

  outline: outset 1px white;
  border: 2px solid $main-color;

  transition: background-color 0.2s ease;
}

.box-enabled {
  background-color: white;
}

.box-disabled {
  background-color: $main-color;
}
